<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mazaiting.materialdesigndemo">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.nav.NavigationViewToolBarActivity" />
    <activity android:name=".activity.nav.NavigationViewActivity" />
    <activity android:name=".activity.textinput.TextInputLayoutActivity" />
    <activity android:name=".activity.fab.FabActivity" />
    <activity android:name=".activity.snack.SnackActivity" />
    <activity android:name=".activity.tablayout.TabLayoutActivity" />
    <activity android:name=".activity.coordinator.CoordinatorLayoutActivity" />
    <activity android:name=".activity.appbar.AppbarLayoutActivity" />
    <activity android:name=".activity.collapsingtoolbar.CollapsingToolbarLayoutActivity"></activity>
  </application>

</manifest>